@page					{ size: landscape; margin: 0; }

h1						{ font-size: 5em; margin-bottom: 0.5ex; background-image: none; background-color: #5FF; }
h1 a					{ color: black; }
#Navigation, #Tabs, #Ad, #Search, img	{ display: none; }
input, #SliderTrack		{ visibility: hidden; }
.Element, .Electron, thead td, .Clean, #Legend	{ background-image: none; }
#Updated				{ display: none; }
#Legend acronym			{ font-weight: normal; }
thead td				{ border-right-width: 1px; border-bottom-width: 1em; }
thead a, .Period a		{ font-size: 1.3em; display: block; }
#KeyContainer			{ width: 90% ! important; }
.Paren					{ line-height: 1.5; }
.Alkali .Alkali         { background-color: #FFD47F; }
.Alkaline .Alkaline     { background-color: #FFFF7F; }
.Transition .Transition { background-color: #EECCCC; }
.Poor .Poor             { background-color: #88EEDD; }
.Metalloid .Metalloid	{ background-color: #88DD99; }
.Halogen .Halogen		{ background-color: #66DDCC; }
.Nonmetal .Nonmetal     { background-color: #7FF67F; }
.Noble .Noble           { background-color: #C3D4FF; }
.Lanthanoid .Lanthanoid { background-color: #FFD4C3; }
.Actinoid .Actinoid     { background-color: #EED4E5; }
.Undiscovered           { background-color: #FFFFFF; }
.InnerBorder            { background-color: #CCCCFF; }
.BlueLeft, .BlueRight, .BlueTop, .BlueBottom	{ border-color: #6666FF; }
/*
big             { line-height: 1; }
small, .Shells, #Legend span    { display: none; }
#Closeup small  { display: inline-block; font-size: 50%; }
#CloseupElement big { line-height: normal; }
#Legend acronym { letter-spacing: normal; }
.Element        { padding: 1px 1px 0 1px; background-image: url("http://www.eehtpc.com/ptable/gradient-names.png"); background-repeat: no-repeat; }
.KeyRegion, .InnerBorder    { font-size: 0.8em; }
.KeyRegion input    { height: 13pt; }
.Paren          { font-size: 0.9em; width: 600pt; }
.Period         { width: 2em; }
#Logo           { position: absolute; clip: rect(auto 114px auto 4px); }
#OrbitalString, #SliderCell { font-size: 1em; }
thead td        { border-bottom-width: 0; }
.Clean, #Legend { border-width: 1px; }
#Series td, .Element, #CloseupElement   { border: 1px solid black; }
#MatterState, #Series	{ display: none; }
.Alkali .Alkali         { background-color: white; }
.Alkaline .Alkaline     { background-color: white; }
.Transition .Transition { background-color: white; }
.Poor .Poor             { background-color: white; }
.Metalloid .Metalloid	{ background-color: white; }
.Halogen .Halogen		{ background-color: white; }
.Nonmetal .Nonmetal     { background-color: white; }
.Noble .Noble           { background-color: white; }
.Lanthanoid .Lanthanoid { background-color: white; }
.Actinoid .Actinoid		{ background-color: white; }
.Undiscovered           { background-color: #EEE; }
.InnerBorder            { background-color: white; }
h1						{ background-color: #DDD; margin: 0 0.15cm 0.2ex 0.5cm; display: none; }
.Copyright span			{ visibility: hidden; }
thead td, .Period		{ font-size: 0.8em; }
.Period					{ text-align: left; }
.Paren					{ line-height: 0.9; }
*/
