BODY			{ margin: 0; background-color: white; color: black; font-family: Arial, "Arial Unicode MS", sans-serif; }

/*** Headings ***/
H1			{ color: white; background: rgb(36, 83, 139) url("http://web.utk.edu/~mdayah/h1-gradient.png") repeat-x; font: normal 4em "Franklin Gothic Medium", "Trebuchet MS", Verdana; text-align: center; white-space: nowrap; margin: 0.2cm 0.2cm 0; }

#Navigation		{ margin: 0 0.2cm 0.2cm; text-align: center; font-family: "Trebuchet MS"; font-size: 1em; letter-spacing: -0.04em; border: thin solid rgb(210, 230, 255); }
#Navigation A		{ padding: 0.15em 0.3em; text-decoration: none; white-space: nowrap; border: medium solid rgb(210, 230, 255); background-color: rgb(210, 230, 255); }
#Navigation A:hover	{ background-color: rgb(230, 240, 255); }
LABEL			{ font-weight: bold; }

#Ad			{ text-align: center; margin: 0 auto; }
#visualize, #Print, #ElectronBox	{ display: none; }
#Note DIV		{ font-size: 0.8em; width: 14em; line-height: normal; }
#Stable			{ padding: 1em 3ex; }

#Main			{ border-collapse: collapse; font-size: 0.9em; }
THEAD TD		{ color: rgb(36, 83, 139); font-weight: bold; border-right: 1pt solid #CCCCFF; border-bottom: 7pt solid white; text-align: center; }
THEAD TD:hover		{ background-color: yellow; }
#Period			{ width: 1.2em; }

#Main, #Key, #PropertyBox	{ margin: 0 auto; }

/*** Legend ***/
.Clean, #Legend		{ border-left: 5pt solid white; }
.KeyRegion		{ vertical-align: top; }
#PropertyBox TH		{ text-align: right; }
#PropertyBox		{ width: 88%; white-space: nowrap; }
#Key			{ width: 80%; border-collapse: separate; border-spacing: 5px; }
#Key TH			{ height: 1.8em; width: 1.8em; }
#Key TD			{ padding: 0.3em; font-size: 1.2em; white-space: nowrap; }
#Key TH, #Key TD	{ vertical-align: middle; }
#Key TH.Solid, #Key TH.Liquid, #Key TH.Gas, #Key TH.Unknown	{ border: thin solid black; text-align: center; }
#Key .Solid, #Key .Liquid, #Key .Gas, #Key .Unknown		{ font-weight: bold; }
#Key TH.Unknown		{ background-color: black; }
UL			{ list-style-type: none; border-bottom: thin solid #AAAAFF; text-align: center; margin: 0.5ex 2em 1ex 2em; font-size: 1.4em; }
LI			{ display: inline; border: thin solid #AAAAFF; background-color: rgb(210, 230, 255); padding: 0 1em; margin: 0 1ex; cursor: pointer; }
LI.Active		{ border-bottom-color: white; background-color: white; cursor: auto; }
LI:hover		{ border-bottom-color: white; cursor: pointer; }
#Hund TABLE		{ border: 0; padding: 0; }
#Hund TD TD		{ border: 1px solid blue; }
#Hund TD TD SPAN	{ visibility: hidden; }
#Hund TABLE TR 		{ font-size: 0.8em; }

/*** Colors ***/
.Solid BIG		{ color: #000000; }
.InvertState .Solid	{ background-color: #000000; }
.Liquid BIG		{ color: #0000DD; }
.InvertState .Liquid	{ background-color: #0000DD; }
.Gas BIG		{ color: #AA0000; }
.InvertState .Gas	{ background-color: #AA0000; }
.Unknown BIG		{ color: #D8D8D8; }
.InvertState .Unknown	{ background-color: #D8D8D8; }
.InvertState .Element, .InvertState .Electron, .InvertState .Element BIG, .InvertState #Key BIG	{ color: white; }

.Alkali			{ background-color: #FFAA00; }
.Alkaline		{ background-color: #F7F700; }
.Nonmetal		{ background-color: #00F700; }
.Transition		{ background-color: #FF7799; }
.Lanthanide		{ background-color: #FFAA88; }
.Actinide		{ background-color: #DDAACC; }
.Poor			{ background-color: #00CCCC; }
.Noble			{ background-color: #55F7F7; }
.Hydrogen		{ background-color: #E7E7E7; }
.Undiscovered		{ background-color: #FFFFFF; }
TH, LABEL		{ color: rgb(36, 83, 139); }

/*** Borders ***/
.InnerBorder		{ background-color: #CCCCFF; color: #0000FF; text-align: center; line-height: 1.4; }
.OuterBorder		{ background-color: #0000FF; }
.BlueLeft		{ border-left: 5pt solid blue; }
.BlueRight		{ border-right: 5pt solid blue; }
.BlueTop		{ border-top: 5pt solid blue; }
.BlueBottom		{ border-bottom: 5pt solid blue; }
.Element		{ border-top: 5pt solid white; border-left: 5pt solid white; }
.Electron		{ border-top: 5pt solid white; }
.DividerR		{ border-right: 5pt solid black; }
.DividerB		{ border-bottom: 5pt solid black; }
.Shells			{ border: 5pt solid white; color: gray; }

/*** Element boxes ***/
#CloseupElement		{ padding: 0.2cm; padding-right: 0; width: 1em; font-size: 2em; }
#CloseupElectron	{ vertical-align: top; text-align: right; font-size: 1.1em; line-height: 1; padding: 0.2cm 0.2cm 0 0; }

BIG, STRONG, EM		{ display: block; }
.Element BIG, #CloseupElement BIG, #Legend BIG	{ font-size: 1.5em; font-weight: bold; width: 2.5em; text-outline: white 1px 1px; }
STRONG			{ font-size: 1em; font-weight: normal; }
EM, .Element DIV, #CloseupElement DIV, #Legend DIV	{ font-size: 0.7em; font-style: normal; }
EM.Long			{ letter-spacing: -0.06em; }
.Element		{ cursor: pointer; padding: 0.2em 0 0.2em 0.3em; background-image: url("http://web.utk.edu/~mdayah/gradient.png"); background-repeat: no-repeat; }
.Electron		{ font-size: 0.7em; line-height: 1; text-align: right; vertical-align: top; }
.Electron, .Shells	{ padding: 0.3em 0.3em 0 0.1em; vertical-align: top; background-image: none; font-size: 0.6em; line-height: 1; text-align: right; }

/*** Wikipedia iframe ***/
#WikiBox		{ position: absolute; top: 15%; left: 15%; bottom: 15%; right: 15%; display: none; border: thick outset; filter: alpha(Opacity=90); opacity: 0.90; background-color: white; }
BODY > DIV#WikiBox	{ position: fixed; }
#WikiBox > IFRAME	{ position: absolute; top: 2.1em; left: 0; width: 100%; height: 95%; bottom: 0; }
#WikiBox H1		{ border: thin inset; margin: 0; }
H1 TABLE		{ width: 100%; font-weight: bold; }
H1 #Title		{ text-align: left; font-family: Verdana, sans-serif; font-size: small; }
H1 #Close		{ text-align: right; font-size: medium; width: 1ex; border: 2px outset; cursor: pointer; padding: 0 0.3em; color: ButtonText; background-color: ButtonFace; }
#Title A		{ color: white; }

/*** Slider ***/
#SliderTrack		{ width: 100%; position: relative; height: auto; border: 1px solid white; }
#SliderTrack #SliderSlit{ border: 2px inset; background-color: ButtonFace; height: 2px; font-size: 0; margin: 9px 6px; }
#SliderTrack #SliderBar	{ position: absolute; top: 0; border: 2px outset; background-color: ButtonFace; width: 10px; height: 20px; cursor: pointer; }

#SliderDisplay		{ text-align: right; width: 6ex; }
